.toast__container {
	position: fixed;

	bottom: 1rem;
	right: var(--gutter);

	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.toast {
	padding: 0.5rem;
	background: var(--bg);
	border: 1px solid currentColor;
	box-shadow: 0 0 0.5rem var(--shadow);
}
