.content {
	margin: 1rem auto;
	padding-inline: var(--gutter);
	max-width: 80ch;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: 0;
	}

	section + section {
		margin-top: 2rem;
		border-top: 1px solid var(--colour);
		padding-top: 2rem;
	}
}
